[submodule "glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "RuntimeCompiledCPlusPlus"]
	path = thirdparty/RuntimeCompiledCPlusPlus
	url = https://github.com/RuntimeCompiledCPlusPlus/RuntimeCompiledCPlusPlus
